.ticket-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.text-center {
    text-align: center;
}

.ticket-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-button {
    margin: 2rem !important;
}